/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    margin-top:50px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.box {
    background: #fff;
    margin: 20px 0;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 1px 3px #d8d8d8;
}
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
}

.bx {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.bx h2{
    text-align:center;
}
.bx .add {
    position: absolute;
    display: block;
    width: 50px;
    top: -25px;
    right: -25px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    color: #fff;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background: #ccc;
}
.count {
    font-size: 36px;
    text-align: center;
}
    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
        display: none;
    }
}
